.azul{
    background-color: blue;
}

.amarillo{
    background-color: yellow;
}

.rojo{
    background-color: red;
}

.verde{
    background-color: green;
}

.naranja{
    background-color: orangered;
}

.defecto{
    background-color: white;
}

#titulo{
    font-family: 'Shadows Into Light', cursive;
    color: rgba(51, 39, 10, 0.575);
}

#titulo-2{
    font-family: 'Shadows Into Light', cursive;
    color: rgba(51, 39, 10, 0.575);
}

